.profileSection{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--section-bg);
}

.infoBox{
    position: absolute;
    top: 10rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.3rem;
}

.infoBox:after{
    content: "";
    position: absolute;
    top: -3rem;
    left: -2rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #ffd755;
    z-index: 10;
}

.infoBox strong{
    font-size: 1.3rem;
}

.infoBox strong span{
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #7e7678;
}

.bigIntroText{
    position: absolute;
    top: 10rem;
    right: 1.5rem;
    text-align: right;
    font-size: 3rem;
    font-weight: 500;
    line-height: 7rem;
    color: transparent;
    -webkit-text-stroke: 1px #c1c1c1;
    font-family: 'Gowun Batang', serif;
}

.smallIntroText{
    position: absolute;
    top: 10rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    text-align: right;
}

.smallIntroText p {
    font-size: 1.2rem;
    line-height: 2rem;
}